.nav-link {
    @apply text-lg font-semibold text-[var(--color-text-primary)] hover:underline transition px-2 lg:px-4 py-2 rounded-xl;
}

.nav-link-mobile {
    @apply text-lg font-semibold text-[var(--color-text-primary)] hover:underline transition px-2 py-2 rounded-xl;
}

.metric-cards {
    @apply px-4 py-2 rounded-lg bg-[var(--color-card)] text-[var(--color-text-primary)] border-[var(--color-outline)] border-1;
}

.button-primary {
    @apply px-4 py-2 rounded-lg cursor-pointer bg-[var(--color-primary)] text-white border-[var(--color-outline)] border-1;
}

.input {
    background-color: var(--color-bg);
    color: var(--color-text-primary);
}

.input:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 2px rgba(76, 95, 213, 0.1);
}

.hover-size {
    @apply hover:scale-103 transition duration-300 ease-in-out;
}

.fade-in {
    animation: fade-in 0.6s ease-out both;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}